// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "base";

#name {
  margin-top: 1em;
  margin-bottom: .2em;
  font-size: 5em;
  border: .05em solid white;
  padding: .2em .3em;
  @include border-radius(1em);
}

#changey, #pitch {
  font-size: 1.5em;
}

#results, #trial_text {
  color: black;
}

#results li:first-line {
  color: $red;
}

#try {
  margin-top: 2em;
  margin-bottom: 2em;
  padding: .4em;
  color: $blue;
  background-color: white;
  @include border-radius(1.6em);
  min-width: 20em;
}

#try > div {
  padding: 1em;
  border: .4em solid $blue;
  @include border-radius(1.2em);
}

#try > div > h2 {
  margin-bottom: .5em;
}